.bookshelf {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  padding: 25px;
  background: linear-gradient(
    145deg,
    rgba(25, 118, 128, 0.35),
    rgba(15, 40, 45, 0.55)
  );  
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  max-width: 780px; 
  margin: 40px auto; 
  border: 1px solid rgba(199, 111, 111, 0.1);
}
h2 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  color:  #c2d2d6;
  margin-bottom: 20px;
}
p{
    text-align: start;
    font-family: 'Nunito Sans', sans-serif;
    color:  #c2d2d6;
    margin-top: 10px;
}
.book-detail {
  display: flex;
  align-items: center;        
  justify-content: center;    
  gap: 40px;                   
  max-width: 900px;
  margin: 40px auto;
  text-align: left;           
}
.book-info {
  max-width: 900px;
  margin: 40px auto;
  text-align: center;
}

.book-info p {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  color:  #c2d2d6;
  margin-top: 10px;
}

.book-detail img {
  width: 160px;
  height: 240px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

.detail-info {
  max-width: 500px;
  font-family: 'Nunito Sans', sans-serif;
  color:  #c8c2d2d6;

}

.detail-info h3 {
  font-family: 'Playfair Display', serif;
  color:  #c8c2d6;
  font-size: 22px;
  margin-bottom: 8px;
}

.detail-info p {
  margin: 6px 0;
}
.bento-item-image {
  display: flex;
  justify-content: end;
  align-items: end;
  
  background: rgba(40, 60, 70, 0.4);
  padding: 0;
  overflow: hidden;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  grid-column: span 1; 
  position: relative;
  right: -40px;
  z-index: 2;
}

.bento-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  margin-left: 25px;

  transition: transform 0.4s ease, filter 0.4s ease;
}

.bento-item-image:hover img {
  transform: scale(1.05);
  filter: brightness(1.05);
  z-index: 0;
}